# See https://www.dartlang.org/guides/libraries/private-files

# MacOS files
.DS_Store
*.iml
.idea

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.flutter-plugins
.flutter-plugins-dependencies
.fvm
